@charset "UTF-8";

// clearfix
.et-row {
  margin: 0 auto;
  max-width: $et-grid-row-width;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// Attribute selector
// Also I've removed :last-of-type
.et-row [class*='et-c'] {
  float: left;
}

// Create grid widths (1-12)
@for $i from $et-grid-start through $et-grid-end {
  .et-col-#{$i} {
    width: $et-full / $i;
  }
}

// Common widths
// Please use the media queries below to respond these widths
// Feel free to pull request new widths
@each $i in $et-grid-common {
  .et-col-#{$i} {
    width: percentage($i / 100);
  }
}

// Responsiveness
// Feel free to use your own responsive widths and styles for the grid
// These are mostly for example use only.
// -------------------------------------------------------------------

// Mobile
@media (max-width: $et-small) {
  @for $i from $et-grid-start through $et-grid-end {
    .et-col-#{$i} {
      width: $et-full;
    }
  }
}

// Portrait Tablet
@media (min-width: $et-small) and (max-width: $et-medium) {
  .et-col-4,
  .et-col-6,
  .et-col-8,
  .et-col-10,
  .et-col-12 {
    width: $et-half;
  }
  .et-col-1,
  .et-col-2,
  .et-col-3,
  .et-col-5,
  .et-col-7,
  .et-col-9,
  .et-col-11 {
    width: $et-full;
  }
}

// Landscape Tablet
@media (min-width: $et-medium) and (max-width: $et-large) {
  .et-col-2,
  .et-col-7 {
    width: $et-full;
  }
  .et-col-4,
  .et-col-8,
  .et-col-10,
  .et-col-12 {
    width: $et-half;
  }
}
